
<div class="adsense_300" id="ad-300px-in_post"></div>
<script>
window.MyAdSense.newAd(document.getElementById('ad-300px-in_post'), {
  'ad_slot': "6858722404",
  'ad_width': 300,
  'ad_height': 250
});
</script>