
<div class="adsense_300" id="ad-300px-01"></div>
<script>
window.MyAdSense.newAd(document.getElementById('ad-300px-01'), {
  'ad_slot': "5521590004",
  'ad_width': 300,
  'ad_height': 250
});
</script>