<tr>
	<td><%= category.name %></td>
	<td><%= category.slug %></td>
	<td>
		<%= link_to "edit", edit_category_path(category) %> | 
		<%= link_to "delete", category, method: :delete, data: { confirm: "You sure?"} %>
	</td>
</tr>